.attractions {
  width: calc(100% - 2%);
  height: 100%;
  margin: 1% 1% 1% 1%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  position: relative;
}

.card {
  position: relative;
  display: flex;
  margin-bottom: 10px;
  height: 310px;
  width: 24%;
}

.card2 {
  position: relative;
  display: none;
  margin-bottom: 10px;
  height: 310px;
  width: 24%;
}

.front,
.back {
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  display: flex;
  border-radius: 20px;
  border: 1px solid silver;
  box-shadow: 0px 0px 8px black;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  backface-visibility: hidden;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 255, 255, 1) 35%,
    rgba(255, 255, 255, 1) 65%,
    rgba(249, 255, 0, 1) 100%
  );
  padding: 5px;
  border-radius: 20px;
  backface-visibility: hidden;
}

.info h3 {
  margin: 8px 0px;
  text-align: center;
  font-size: 1.3em;
}

.info p {
  padding: 0px 10px;
  text-align: justify;
  text-indent: 30px;
  font-size: 1em;
}

.back {
  background-color: darkgrey;
  transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.card:hover .front {
  transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.card:hover .back {
  transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -webkit-transform: rotateY(360deg);
}

.foto-1 {
  background-image: url(../img/deribasovskaya.jpg);
  background-size: cover;
  background-position: center;
}

.foto-2 {
  background-image: url(../img/lestnica.jpg);
  background-size: cover;
  background-position: top;
}

.foto-3 {
  background-image: url(../img/Opera.jpg);
  background-size: cover;
  background-position: left;
}

.foto-4 {
  background-image: url(../img/kolonada.jpg);
  background-size: cover;
  background-position: center;
}

.foto-5 {
  background-image: url(../img/soborka.jpg);
  background-size: cover;
  background-position: center;
}

.foto-6 {
  background-image: url(../img/arkadia.jpg);
  background-size: cover;
  background-position: center;
}

.foto-7 {
  background-image: url(../img/morvokzal.jpg);
  background-size: cover;
  background-position: center;
}

.foto-8 {
  background-image: url(../img/privoz.jpg);
  background-size: cover;
  background-position: right;
}

.foto-9 {
  background-image: url(../img/moskovskaya.jpg);
  background-size: cover;
  background-position: center;
}

#back-top {
  background-image: url(../img/icon-up.png);
  background-size: cover;
  background-color: rgba(255, 251, 251, 0.6);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  position: fixed;
  bottom: 15px;
  right: 15px;
  box-shadow: 0px 0px 15px whitesmoke;
}

#back-top:hover {
  border: 1px solid black;
  box-shadow: 0px 0px 15px whitesmoke;
}

#back-top a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

@media screen and (min-width: 350px) and (max-width: 599px) {
  .card {
    margin-bottom: 10px;
    width: 100%;
  }

  .card2 {
    display: flex;
    width: 100%;
  }

  .info h3 {
    font-size: 1em;
  }

  .info p {
    font-size: 0.9em;
  }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
  .card {
    margin-bottom: 10px;
    width: 49%;
  }

  .info h3 {
    font-size: 1em;
  }

  .info p {
    font-size: 0.9em;
  }
}

@media screen and (min-width: 960px) and (max-width: 1500px) {
  .card {
    margin-bottom: 10px;
    width: 32%;
  }

  .card2 {
    position: relative;
    display: flex;
    width: 32%;
  }
  .info h3 {
    font-size: 1em;
  }

  .info p {
    font-size: 0.9em;
  }
}
