@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&family=Poppins:wght@500;600&family=Roboto:wght@300;400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background: rgb(255, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0.4906337535014006) 35%,
    rgba(255, 255, 255, 0.4906337535014006) 65%,
    rgba(249, 255, 0, 1) 100%
  );
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* ----header---- */

#main {
  width: calc(100% - 2%);
  background-image: url(../img/Odessa.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1% 1% 1% 1%;
  border-radius: 20px;
  border: 1px solid silver;
  box-shadow: 0px 0px 10px black;
}

.header {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: space-between;
}

/*--Logo--*/

.logo {
  height: 160px;
  width: 130px;
  margin: 1%;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  animation: rotate 10s infinite;
  -moz-animation: rotate 10s infinite;
  -webkit-animation: rotate 10s infinite;
}

.logofront,
.logoback {
  height: 160px;
  width: 130px;
  left: 0;
  right: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  backface-visibility: hidden;
}

.logoback {
  transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateY(0deg);
  }

  50% {
    -webkit-transform: rotateY(180deg);
  }

  100% {
    -webkit-transform: rotateY(360deg);
  }
}

@-moz-keyframes rotate {
  0% {
    -moz-transform: rotateY(0deg);
  }

  50% {
    -moz-transform: rotateY(180deg);
  }

  100% {
    -moz-transform: rotateY(360deg);
  }
}

/*--Menu-desctop--*/

.maine-menu {
  height: 30px;
  margin: 1%;
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  list-style: none;
}

.menu-nav {
  width: 200px;
  height: 150px;
  transition: 0.1s;
  -moz-transition: 0.1s;
  -webkit-transition: 0.1s;
  transform: scaleY(0) translateY(0%);
  -moz-transform: scaleY(0) translateY(0%);
  -webkit-transform: scaleY(0) translateY(0%);
  transform-origin: center top;
  -moz-transform-origin: center top;
  -webkit-transform-origin: center top;
  visibility: visible;
  opacity: 1;
  position: absolute;
  top: 90%;
}

.menu-nav_active {
  transform: scaleY(1) translateY(0%);
  -moz-transform: scaleY(1) translateY(0%);
  -webkit-transform: scaleY(1) translateY(0%);
  opacity: 1;
  visibility: visible;
}

.maine-menu a {
  padding: 2px;
  font-size: 1.3em;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.maine-menu li .menu {
  text-decoration: underline palevioletred;
}

.maine-menu li {
  display: flex;
  justify-content: flex-start;
  color: white;
}

.maine-menu li a:hover {
  background-color: rgba(196, 196, 196, 0.5);
  border-radius: 10px;
  box-shadow: 0 0 10px whitesmoke;
}

/*--Hamburger--*/

.hamburger {
  display: none;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 4.5em;
  text-align: center;
  color: white;
  text-shadow: 0px 0px 5px black;
}

@media screen and (min-width: 350px) and (max-width: 599px) {
  .main {
    margin: 1% 1% 3% 1%;
  }

  .logofront,
  .logoback {
    height: 100px;
  }

  .maine-menu {
    width: 160px;
    height: 120px;
  }

  .nav {
    width: 140px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .maine-menu {
    display: none;
  }

  .hamburger {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .hamburger-btn {
    width: 32px;
    height: 32px;
    margin: 10px 0px 0px 10px;
    display: flex;
    background-image: url(../img/hamburger.svg);
    background-repeat: no-repeat;
    border-radius: 50%;
    position: relative;
  }

  .hamburger-btn_active {
    background-image: url(../img/close.svg);
    background-repeat: no-repeat;
  }

  .hamburger-btn:hover {
    box-shadow: 0px 0px 20px blue;
  }

  .hamburger-nav {
    width: 200px;
    height: auto;
    background-color: rgba(50, 106, 180, 0.5);
    box-shadow: 0 0 15px silver;
    border-radius: 12px;
    padding-left: 5px;
    transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
    transform: scaleX(0) translateX(0%);
    -moz-transform: scaleX(0) translateX(0%);
    -webkit-transform: scaleX(0) translateX(0%);
    transform-origin: center left;
    -moz-transform-origin: center left;
    -webkit-transform-origin: center left;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 25%;
    left: 45%;
  }

  .hamburger-nav_active {
    transform: scaleX(1) translateX(0%);
    -moz-transform: scaleX(1) translateX(0%);
    -webkit-transform: scaleX(1) translateX(0%);
    opacity: 1;
    visibility: visible;
  }

  .hamburger-nav li {
    margin: 5px 0px;
    font-size: 1.1em;
    font-weight: bold;
    list-style: none;
  }

  .hamburger-nav li .menu {
    text-decoration: underline palevioletred;
  }

  .hamburger-nav a {
    color: whitesmoke;
    text-decoration: none;
  }

  .hamburger-nav a:hover {
    color: silver;
  }

  h1 {
    font-size: 3.5em;
  }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
  .logofront,
  .logoback {
    height: 120px;
  }
}

@media screen and (min-width: 960px) and (max-width: 1440px) {
  .logofront,
  .logoback {
    height: 130px;
  }
}
